@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 15px 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  font-weight: 600;
}